---
import { ViewTransitions, fade } from 'astro:transitions';
import { SEOMetadata } from 'astro-seo-metadata';
import Footer from '../components/Footer/Footer.astro';
import Navbar from '../components/Navbar/Navbar';
import CoverImage from '../assets/bedford-run-club.jpg'

interface Props {
	title?: string;
	description?: string;
	pathname?: string;
	frontmatter?: {
		title?: string;
		description?: string; 
		pathname?: string; 
	};
}

const { frontmatter, title, description = 'Join us every Tuesday at the Garrison Seaport Brewery at 6pm! Nothing fancy, just some sweat and a good time. All runners welcome.' } = Astro.props;

const fullTitle = title || frontmatter?.title ? `${title || frontmatter?.title} | Bedford Run Club` : 'Bedford Run Club';


---

<!doctype html>
<html lang="en" transition:animate={fade({ duration: '0.5s' })}>
	<head>
		<SEOMetadata
			siteName="Bedford Run Club"
			title={fullTitle}
			description={description}
			image={CoverImage.src}
			favicon="/favicon.png"
			astroSitemap={true}
			canonicalUrl={Astro.url.toString()}
			type="website"
			astroGenerator={true}
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<ViewTransitions />
	</head>
	<body>
		<Navbar client:load path={Astro.props.frontmatter?.pathname} />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);

		--primary-color: #091064;
		--accent-color: #FDD44F;
		--text-color: #13151a;
		--background-color: #fefeff;
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--background-color);
	}
	body {
		margin: 0;
		color: var(--text-color);
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}


	main {
		flex-grow: 1;
		margin: 0 auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		padding: 0.25em 0;
		border-bottom: 2px solid var(--accent-color);
		color: var(--primary-color);
	}


	/* Strava Embed */
	.strava-embed-root {
		border: none !important;
		border-width: 0 !important;
		padding: 0;
	}

	.calendar-embed {
		position: relative;
		padding-bottom: 70%;

		& iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
</style>
